.menu {
    width: 300px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-image: url("./../../images/backgroundMenu.png");

    .list {
        list-style: none;
        margin-top: 30px;
        width: 300px;
        display: flex;
        flex-direction: column;

        .triangle {
            width: 30px;
            height: 50px;
            border-style: solid;
            border-width: 30px 20px 30px 0px;
            border-color: transparent #ffffff transparent transparent;
        }

        .active {

            background-color: rgba(0, 0, 0, 0.35);
            
            .triangle {
                opacity: 1;
            }
        }

        .disactive {
            .triangle {
                opacity: 0;
            }
        }

        .list-item {
            height: 80px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .list-item__icon {
                width: 30px;
                height: 30px;
                margin-left: 15px;
            }

            .list-item__content {
                width: 180px;
            }

            a.list-item__content-link {
                color: #fff;
                font-family: 'Gilroy-SemiBold';
                font-size: 1.8em;
                font-weight: 100;
                text-decoration: none;
                height: 30px;
            }

        }

    }

}